@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');




.work-sans-inter {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.caveat-normal{
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}


body {
    max-width: 100%;
     margin: 0px 0px;background-color:black ;
 }
 /* navbar-styles */
 .navbar{
  display: flex;
  justify-content: space-between;
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 45px;
 }
.nav-tittle{
  color: rgb(230, 83, 60);
  font-weight: 700;
  font-size: 2rem;
  font-style: italic;
}
.nav-link{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.nav-links{
  gap: 55px;
  display: flex;
  align-items: center;
}


