@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');




.work-sans-inter {
  font-family: "inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.caveat-normal {
  font-family: "miama", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

/* *{border: 1px solid yellow;} */
/* shared-styles */
.text-primary {
  color: rgb(255, 255, 255);
}

.text-gray {
  color: rgba(255, 255, 255, 0.5);
}

.orange-c {
  background-color: rgb(230, 83, 60);
}

body {
  max-width: 100%;
  margin: 0 0;
  background-color: black;


  header {
    background: linear-gradient(to top, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
  }


  /* navbar-styles */
  .navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 160px;
    margin-right: 160px;
    padding-top: 45px;

  }

  .nav-tittle {
    color: rgb(230, 83, 60);
    font-weight: 700;
    font-size: 2rem;
    font-style: italic;
  }

  .nav-link-special {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 8px 20px;
    text-decoration: none;
    background-color: rgb(230, 83, 60);
    border-radius: 46px;
    height: ;

  }

  .nav-link {

    text-decoration: none;
  }

  .nav-links {
    gap: 55px;
    display: flex;
    align-items: center;
    list-style: none;
  }

  .toggle-btn {
    display: none;
    color: #ffff;
    font-size: 1.5rem;
    cursor: pointer;
  }

  /* banner-styles */
  .banner {
    display: flex;
    gap: 200px;
    margin-top: 50px;
  }

  .banner-text-content {

    width: 398px;
    margin-left: 140px;
  }

  .banner-text-content-tittle {
    line-height: 120%;
    font-weight: 900;
    font-size: 3.8rem;
  }

  .banner-text-content-description {
    margin-bottom: 30px;
    font-size: 1rem;
    font-weight: 400;
  }

  .btns {
    display: flex;
  }

  .banner-text-content-btn-01 {
    font-size: 1rem;
    font-weight: 600;
    border: none;
    width: 218px;
    height: 46px;
    border-radius: 38px;
    margin-right: 20px;

  }

  .banner-text-content-btn-02 {
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid rgb(255, 255, 255);
    background-color: black;
    width: 218px;
    height: 46px;
    border-radius: 38px;
  }

  .img-btn-01 {
    border: 1px solid #FFFFFF1A;
    background-color: #FFFFFF1A;
    height: 85px;
    width: 190px;
    border-radius: 12px;
    margin-left: 1000px;
    margin-top: 150px;
    position: absolute;
    /* padding-right: 60px; */

  }

  .img-btn-01-tittle {
    font-weight: 900;
    font-size: 2rem;
    margin: 0px 0px;
    padding-right: 45px;
  }

  .img-btn-01-description {
    font-size: 0.8rem;
  }

  .banner-img {
    margin-left: 40px;
  }

  /* habits section-styles */

  .habits {

    text-align: center;
    margin: 100px 0;
  }

  .habit-section-description {
    font-size: 1rem;
  }

  .habits-cards {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    gap: 25px;
  }

  .habit-card-section-img {
    border-radius: 100%;
  }

  .habits-section-tittle {
    font-weight: 900;
    font-size: 2.4rem;
  }

  .habit-card-section-01 {
    text-align: center;
  }

  .habit-card-section-02 {
    text-align: center;
  }

  .habit-card-section-03 {
    text-align: center;
  }

  .habit-card-section-04 {
    text-align: center;
  }

  /* run-section styles * */

  .run-section {
    background-color: #222222;
    border-radius: 18px;
    display: flex;
    gap: 180px;
    margin: 100px 140px;
    /* height: 360px; */
  }

  .run-section-text-content {
    width: 1200px;
    height: 270px;
    margin-left: 60px;
    margin-top: 60px;
    padding-bottom: 30px;

  }

  .run-section-text-content-tittle {
    font-weight: 800;
    font-size: 2.4rem;
  }

  .run-section-btn {
    width: 218px;
    height: 46px;
    border-radius: 42px;
    border: none;
    margin-top: 18px;
    font-size: 1rem;
    font-weight: 600;
  }

  .run-section-img {
    height: 300px;
    width: 300px;
    border-radius: 18px;
    margin-right: 60px;
    margin-top: 15px;
    /* margin-bottom: 35px; */
  }

  /* supplement section styles */
  .supplement-images {
    display: flex;
    align-items: center;
    margin: 50px 130px;
    /* height: 300px; */
    border-radius: 18px;
    background-color: #222222;
  }

  .supplement-text-content {
    text-align: center;

    margin: 50px 200px;



  }

  .supplement-text-content-tittle {
    font-weight: 800;
    font-size: 2.4rem;
  }

  .supplement-img {

    width: 240px;
    margin-left: 22px;
    border-radius: 18px;
    box-shadow: 20px 20px 30px black;
  }

  /* bmi section styles */
  .bmi-cal-sec {
    text-align: start;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 380px;
    margin-right: 250px;

  }

  .bmi-cal-sec-tittle {
    font-weight: 900;
    font-size: 2.4rem;
  }

  .bmi-cal-sec-description {
    line-height: 22px;
  }

  .bmi-section {
    background-color: #222222;
    display: flex;
    gap: 150px;
  }

  .bmi-chart-section-tittle {
    padding-top: 50px;
    margin-left: 180px;
    font-size: 1.5rem;
  }

  /* chart-table section styles */
  td {

    padding-left: 20px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  table {
    border-collapse: collapse;
    margin-top: 50px;
    margin-left: 180px;
    margin-bottom: 100px;

  }

  /* bmi calculation section styles */
  .bmi-calculate-section {
    width: 40%;
  }

  .bmi-calculate-section-tittle {
    padding-top: 50px;

    font-size: 1.5rem;

  }

  .fr-01 {
    display: flex;
  }

  .fr-02 {
    display: flex;
  }

  .in {
    border-radius: 6px;
    border: none;
    background: #FFFFFF1A;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 80px;
    margin-right: 14px;
    margin-top: 14px;

  }

  .in-s {
    border-radius: 6px;
    border: none;
    background: #FFFFFF1A;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 80px;
    margin-right: 14px;
    margin-top: 14px;
    width: 450px;
  }

  .bmi-section-btn {
    width: 218px;
    height: 46px;
    border-radius: 42px;
    border: none;
    margin-top: 34px;
    font-size: 1rem;
    font-weight: 600;
  }

  /* team-section-styles */
  .team-section {
    text-align: center;

    margin: 50px 150px;
  }

  .team-section-tittle {
    font-weight: 800;
    font-size: 2.4rem;

  }

  .team-section-description {
    width: 70%;
    margin-left: 14%;
  }

  .team-section-images {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    margin: 18px 200px;
    border-radius: 16px;

    background: #FFFFFF1A;
  }

  .team-section-image {

    margin-left: 50px;
    margin-top: 50px;
    border-radius: 16px;
  }

  .team-section-image-s {

    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 35px;
    border-radius: 16px;
  }

  /* footer styles */
  .footer-section {
    margin-top: 80px;
    background-color: #222222;
    display: grid;
    grid-template-columns: repeat(3, 300px);
  }

  .footer-tittle {
    color: rgb(230, 83, 60);
    font-style: italic;
    font-weight: 800;
    font-size: 3rem;
  }

  .footer-section-tittle {
    width: 100%;
    margin-left: 80px;
    margin-top: 20px;
  }

  .coulmn-01 {
    margin-left: 240px;
    width: 100%;
    margin-top: 20px;

  }

  .coulmn-02 {
    width: 100%;
    margin-left: 350px;
    margin-top: 20px;
  }

  .list-iteam {}

  .links {
    list-style: none;

  }

  .coulmn-01-links {
    text-decoration: none;

    line-height: 50px;
  }

  .coulmn-tittle {
    width: 250px;
    font-size: 1.2rem;
    margin-left: 40px;
  }

  /* .hr{
display: block;
width: 390%;
margin-left: 80px;
margin-top: 100px;
} */
  .footer-last {
    width: 700px;
    margin-top: 100px;
  }

  .footerlastp {
    margin-left: 220px;
  }


  @media screen and (max-width: 576px) {

    /* header section styles */
    .navbar {
      /* flex-direction: column; */
      /* margin-left: 150px; */
      align-items: center;
      gap: 70px;
      justify-content: space-between;
      margin: 0 10px;

    }

    .nav-links {
      /* flex-direction: column; */
      display: none;

    }

    .toggle-btn {
      display: block;
      color: #ffff;
      cursor: pointer;
      width: 35px;
    }

    .banner {
      flex-direction: column;
      margin-left: 1px;
      width: 100%;
    }

    body {
      width: 100%;
    }

    header {
      width: 100%;
      margin: 0px;
    }

    .banner-text-content {
      width: 90%;
      margin-left: 0px;

    }

    .banner {

      width: 90%;
      margin: 20px 2px;
    }


    .banner-text-content-tittle {
      font-size: 3.8rem;
      width: 100%;
    }

    .banner-text-content-description {
      font-size: 1rem;
      width: 80%;
    }

    .banner-img {
      width: 90%;
      margin-left: 0px;

    }


    .banner-text-content-btn-01 {
      font-size: 0.8rem;
      width: 30%;
    }

    .banner-text-content-btn-02 {
      font-size: 0.8rem;
      width: 30%;
    }

    .btns {
      width: 100%;
      margin-left: 1px;
    }


    .img-btn-01 {
      margin-left: 40%;
      margin-top: 800px;
      width: 40%;
     
    }

    .img-btn-01-tittle {
      font-size: 1.2rem;
    }

    /* habits section styles */
    .habits {
      width: 100%;
    }

    .habits-section-tittle {
      font-size: 2rem;
    }

    .habits-cards {
      flex-direction: column;

    }

    .habit-card-section-tittle {
      text-align: center;
    }

    .habit-card-section-description {
      text-align: center;
    }

    /* run section styles */
    .run-section {
      flex-direction: column;
      margin: 20% 0%;

      width: 100%;
      height: 20%;
      gap: 14%;
    }

    .run-section-text-content {
      width: 100%;
      margin: 0;
      text-align: center;
    }

    .run-section-text-content-tittle {
      width: 100%;
      font-size: 1.4rem;
    }

    .run-section-img {
      margin-top: 0;
      margin-left: 23px;
      margin-bottom: 30%;
    }

    .habit-card-section-img {
      width: 100%;
    }

    /* supplement section styles */

    .supplement-images {
      flex-direction: column;
      align-items: center;
      gap: 10%;
      margin-top: 20%;
      height: none;
      margin-left: 10%;
      margin-right: 10%;
    }
    .supplement-img{
margin-left: 6%;
margin-right: 3%;
margin-top: 10%;
margin-bottom: 10%;
    }

    .supplement-text-content {
      width: 100%;
      margin: 10% 0;
    }

    .supplement-text-content-tittle {
      font-size: 1.4rem;
    }

    .supplement-text-content-tittle {
      font-size: 2rem;
    }

    /* bmi-section-styles */
    .bmi-cal-sec {
      width: 90%;
      margin-left: 5%;
    }

    .bmi-cal-sec-tittle {
      width: 100%;
      font-size: 2rem;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .bmi-section {
      flex-direction: column;

    }

    .bmi-chart-section-tittle {
      margin-left: 10px;
      font-size: 1.4rem;
    }

    .bmi-calculate-section-tittle {
      font-size: 1.4rem;
    }

    .bmi-table {
      margin-left: 10px;
    }

    .bmi-calculate-section {
      width: 90%;
      margin-left: 5%;
    }

    .in {
      width: 35%;
      m
    }

    .in-s {
      width: 67%;
    }

    .fr-01 {
      width: 90%;
    }

    .fr-02 {
      width: 90%;
    }

    /* team-section-images-styles */
    .team-section-images {
      grid-template-columns: 0px;
     margin-left: 5px;
      margin-right: 5px;
    }
    .team-section-image{
      margin-left: 70px;
    }
    .team-section-image-s{
   margin-left: 70px;
  
    }

    .team-section {
      width: 100%;
      margin-left: 0;
    }

    .team-section-tittle {
      font-size: 2rem;
    }

    /* footer-section-styles */
    .footer-section {

      grid-template-columns: 100px;
    }

    .footer-section-tittle {
      width: 400%;
      margin-left: 5px;
      margin-right: 0;

    }

    .coulmn-01 {
      width: 400%;
      margin-left: 5px;
      margin-right: 0;
    }

    .coulmn-02 {
      width: 400%;
      margin-left: 5px;
      margin-right: 0;
    }

    .footer-last {
      width: 400%;
      margin-left: 5px;
      margin-right: 0;
    }

    .coulmn-tittle {
      margin-left: 0;
    }

    .links {
      width: 70%;
      padding-left: 0;
    }

    .coulmn-01-links {
      width: 50%;
      margin-left: 0;
    }

    .footer-last {
      width: 400%;
      margin-left: 0;
    }

    .footerlastp {
      width: 100%;
      margin-left: 5px;
    }

    .hr {
      width: 90%;
      margin-left: 5px;
    }

  }